{% extends 'core/base.html' %}
{% load static %}



{% block content %}

  <!-- Page Header Start -->
  <div class="container-fluid bg-secondary py-5">
    <div class="container py-5">
        <div class="row align-items-center py-4">
            <div class="col-md-6 text-center text-md-left">
                <h1 class="mb-4 mb-md-0 text-primary text-uppercase">About Us</h1>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <div class="d-inline-flex align-items-center">
                    <a class="btn btn-outline-primary" href="/">Home</a>
                    <i class="fas fa-angle-double-right text-primary mx-2"></i>
                    <a class="btn btn-outline-primary disabled" href="">About</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header Start -->

<!-- About Start -->
<div class="container-fluid bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="d-flex flex-column align-items-center justify-content-center bg-primary h-100 py-5 px-3">
                    <i class="flaticon-brickwall display-1 font-weight-normal text-secondary mb-3"></i>
                    <h4 class="display-3 mb-3">25+</h4>
                    <h1 class="m-0">Years Experience</h1>
                </div>
            </div>
            <div class="col-lg-7 m-0 my-lg-5 pt-5 pb-5 pb-lg-2 pl-lg-5">
                <h6 class="text-primary font-weight-normal text-uppercase mb-3">About CKM Group</h6>
                <h1 class="mb-4 section-title">Welcome to CKM, Your Premier Destination for Build Meterials.</h1>
                <p>Established in [Year], we have been at the forefront of innovation and excellence in the building materials industry. Our journey began with a vision to provide durable, sustainable, and aesthetically pleasing solutions for both residential and commercial spaces. Over the years, we have grown to a trusted name in the market, thanks to our unwavering commitment to quality and customer satisfaction.</p>
                <div class="row py-2">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center mb-4">
                            <h1 class="flaticon-house font-weight-normal text-primary m-0 mr-3"></h1>
                            <h5 class="text-truncate m-0">Building Materials</h5>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center mb-4">
                            <h1 class="flaticon-stairs font-weight-normal text-primary m-0 mr-3"></h1>
                            <h5 class="text-truncate m-0">General Trading</h5>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center mb-4">
                            <h1 class="flaticon-office font-weight-normal text-primary m-0 mr-3"></h1>
                            <h5 class="text-truncate m-0">Exterior Furnishing Materials</h5>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center mb-4">
                            <h1 class="flaticon-living-room font-weight-normal text-primary m-0 mr-3"></h1>
                            <h5 class="text-truncate m-0">Interior Furnishing Materials</h5>
                        </div>
                    </div>
                </div>

                <h1 class="mb-4 section-title">Our Mission</h1>
                    <p>We are dedicated to offering products that not only meet but exceed the highest standards of durability, functionality, and design. Our goal is to inspire creativity and enhance the beauty and functionality of spaces through our innovative solutions.</p>

                <br>
                <h1 class="mb-4 section-title">Our Values</h1>
                <ul>
                    <li><h5>Quality:</h5> We believe in delivering only the best. Our PVC and WPC boards are manufactured using state-of-the-art technology and the finest materials to ensure superior performance and longevity.</li>
                    <br>
                    <li><h5>Sustainability:</h5> Environmental responsibility is at the core of our operations. We are committed to sustainable practices, from sourcing raw materials to manufacturing processes, ensuring minimal impact on our planet.</li>
                    <br>
                    <li><h5>Innovation:</h5> We continuously strive to push the boundaries of innovation. Our team is dedicated to researching and developing new products and techniques to meet the evolving needs of our customers.</li>
                    <br>
                    <li><h5>Customer Focus:</h5> Our customers are our top priority. We aim to provide exceptional service, tailored solutions, and an unparalleled buying experience.
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
<!-- About End -->



<!-- Features Start -->
<div class="container-fluid bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mt-5 py-5 pr-lg-5">
                <h6 class="text-primary font-weight-normal text-uppercase mb-3">Why Choose Our Products?</h6>
                <h1 class="mb-4 section-title">Together, we are building a better future.</h1>
                <p class="mb-4">CKM General Trading is your one-stop solution for premium interior and exterior furnishing materials. We offer a comprehensive range of products including:</p>
                <ul class="list-inline">

                    <li><h5><i class="far fa-check-square text-primary mr-3"></i>PVC Doors, WPC Doors, FRP Doors, Panel Doors, Veneer Doors, Sliding Doors </h5></li>
                    <li><h5><i class="far fa-check-square text-primary mr-3"></i>WPC Frames, Aluminum Frames, Steel Frames, UPVC Frames </h5></li>
                    <li><h5><i class="far fa-check-square text-primary mr-3"></i>PVC Foam Board, WPC Sheets, WPC Sheets, Gypsum Boards, Acrylic Sheets  </h5></li>
                    <li><h5><i class="far fa-check-square text-primary mr-3"></i>HPL Sheets, Fiber Cement Boards, MDF, Sun Mica, HPL Sheets, Veneers</h5></li>
                    <li><h5><i class="far fa-check-square text-primary mr-3"></i>PVC Wall Panels, WPC Wall Panels, UPVC Louvers, Charcol Louvers</h5></li>
                    <li><h5><i class="far fa-check-square text-primary mr-3"></i>GI, GP, SS Metal Items</h5></li>
                    <li><h5><i class="far fa-check-square text-primary mr-3"></i>MS Metal Items, Flat Bar, Square Rad, Angle, MS Sheet</h5></li>
                    <li><h5><i class="far fa-check-square text-primary mr-3"></i>Gypsum Board Ceilings, PVC Ceiling Panels, Channels and Sections</h5></li>
                    <li><h5><i class="far fa-check-square text-primary mr-3"></i>Roofing Sheets, Pathy Gutters</h5></li>
                    <li><h5><i class="far fa-check-square text-primary mr-3"></i>Steel Mesh, Fiber Mesh, GI Fencing</h5></li>
                    <li><h5><i class="far fa-check-square text-primary mr-3"></i>Modular kitchen and Interior Design Items</h5></li>
                    <li><h5><i class="far fa-check-square text-primary mr-3"></i>Hand Tools and Power Tools, All Hardware Items</h5></li>

                </ul>
            </div>
            <div class="col-lg-5">
                <div class="d-flex flex-column align-items-center justify-content-center h-100 overflow-hidden">
                    <img class="h-100" src="{% static 'img/feature-1.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features End -->


{% endblock %}
