{% extends 'core/base.html' %}
{% load static %}



{% block content %}



<!-- Video Background Start -->
<div class="container-fluid p-0 position-relative">
    <video autoplay loop muted playsinline class="w-100" style="object-fit: cover; height: 100vh;">
        <source src="{% static 'img/CKM_Home.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center position-absolute w-100 h-100">
        <div class="p-3 text-center" style="max-width: 800px;">
            <h4 class="text-primary text-uppercase font-weight-normal mb-md-3">With Quality Furnishing & Building Materials</h4>
            <h3 class="display-3 text-white mb-md-4">Elevate Your Spaces</h3>
            <a href="/about" class="btn btn-primary py-md-3 px-md-5 mt-2 mt-md-4">Learn More</a>
        </div>
    </div>
</div>
<!-- Video Background End -->


    <!-- About Start -->
    <div class="container-fluid bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="d-flex flex-column align-items-center justify-content-center bg-primary h-100 py-5 px-3">
                        <i class="flaticon-brickwall display-1 font-weight-normal text-secondary mb-3"></i>
                        <h4 class="display-3 mb-3">25+</h4>
                        <h1 class="m-0">Years Experience</h1>
                    </div>
                </div>
                <div class="col-lg-7 m-0 my-lg-5 pt-5 pb-5 pb-lg-2 pl-lg-5">
                    <h6 class="text-primary font-weight-normal text-uppercase mb-3">About CKM Group</h6>
                    <h1 class="mb-4 section-title">Welcome to CKM, Your Premier Destination for Build Meterials.</h1>
                    <p>Our journey began with a vision to provide durable, sustainable, and aesthetically pleasing solutions for both residential and commercial spaces. </p>
                    <div class="row py-2">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center mb-4">
                                <h1 class="flaticon-house font-weight-normal text-primary m-0 mr-3"></h1>
                                <h5 class="text-truncate m-0">Building Materials</h5>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center mb-4">
                                <h1 class="flaticon-stairs font-weight-normal text-primary m-0 mr-3"></h1>
                                <h5 class="text-truncate m-0">General Trading</h5>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center mb-4">
                                <h1 class="flaticon-office font-weight-normal text-primary m-0 mr-3"></h1>
                                <h5 class="text-truncate m-0">Exterior Furnishing Materials</h5>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center mb-4">
                                <h1 class="flaticon-living-room font-weight-normal text-primary m-0 mr-3"></h1>
                                <h5 class="text-truncate m-0">Interior Furnishing Materials</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Products Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">

            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col text-center mb-4">
                    <h1 class="mb-4">Products Range</h1>
                </div>
            </div>

            <div class="row">
               
                <div class="col-lg-12 p-0 pt-5 pt-lg-0">
                    <div class="owl-carousel service-carousel position-relative">
                       
                        {% for pro in pros %}
                            <div class="p-2">
                                {% if pro.thumbnail %}
                                    <img class="h-100 img-fluid" src="{{ pro.thumbnail.url }}" alt="">
                                {% endif %}
                                <div class="d-flex flex-column text-center bg-light p-4">
                                    <h5 class="mb-3">{{ pro.pro_name }}</h5>
                                    <p class="m-0">{{ pro.description|truncatechars:130 }}</p>
                                
                                </div>
                                <a href="{% url 'product' pro.id  %}" class="btn btn-primary btn-block">More Details</a>
                            </div>
                        {% endfor %}
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Products End -->


    <!-- Features Start -->
    <div class="container-fluid bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mt-5 py-5 pr-lg-5">
                    <h6 class="text-primary font-weight-normal text-uppercase mb-3">Why Choose Our Products?</h6>
                    <h1 class="mb-4 section-title">Together, we are building a better future.</h1>
                    <p class="mb-4">CKM General Trading is your one-stop solution for premium interior and exterior furnishing materials. We offer a comprehensive range of products including:</p>
                    <ul class="list-inline">

                        <li><h5><i class="far fa-check-square text-primary mr-3"></i>PVC Doors, WPC Doors, FRP Doors, Panel Doors, Veneer Doors, Sliding Doors </h5></li>
                        <li><h5><i class="far fa-check-square text-primary mr-3"></i>WPC Frames, Aluminum Frames, Steel Frames, UPVC Frames </h5></li>
                        <li><h5><i class="far fa-check-square text-primary mr-3"></i>PVC Foam Board, WPC Sheets, WPC Sheets, Gypsum Boards, Acrylic Sheets  </h5></li>
                        <li><h5><i class="far fa-check-square text-primary mr-3"></i>HPL Sheets, Fiber Cement Boards, MDF, Sun Mica, HPL Sheets, Veneers</h5></li>
                        <li><h5><i class="far fa-check-square text-primary mr-3"></i>PVC Wall Panels, WPC Wall Panels, UPVC Louvers, Charcol Louvers</h5></li>
                        <li><h5><i class="far fa-check-square text-primary mr-3"></i>GI, GP, SS Metal Items</h5></li>
                        <li><h5><i class="far fa-check-square text-primary mr-3"></i>MS Metal Items, Flat Bar, Square Rad, Angle, MS Sheet</h5></li>
                        <li><h5><i class="far fa-check-square text-primary mr-3"></i>Gypsum Board Ceilings, PVC Ceiling Panels, Channels and Sections</h5></li>
                        <li><h5><i class="far fa-check-square text-primary mr-3"></i>Roofing Sheets, Pathy Gutters</h5></li>
                        <li><h5><i class="far fa-check-square text-primary mr-3"></i>Steel Mesh, Fiber Mesh, GI Fencing</h5></li>
                        <li><h5><i class="far fa-check-square text-primary mr-3"></i>Modular kitchen and Interior Design Items</h5></li>
                        <li><h5><i class="far fa-check-square text-primary mr-3"></i>Hand Tools and Power Tools, All Hardware Items</h5></li>

                    </ul>
                    <a href="" class="btn btn-primary mt-3 py-2 px-4">View More</a>
                </div>
                <div class="col-lg-5">
                    <div class="d-flex flex-column align-items-center justify-content-center h-100 overflow-hidden">
                        <video class="w-100 rounded" autoplay muted loop playsinline>
                            <source src="{% static 'img/quick_pro_v.mp4' %}" type="video/mp4">
                        </video>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features End -->


    <!-- Projects Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col text-center mb-4">
                    <h1 class="mb-4">Product Categories</h1>
                </div>
            </div>
          
            <div class="row mx-1 portfolio-container">

                
                {% for cat in cats %}
                    <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item first">
                        <div class="position-relative overflow-hidden">
                            <div class="portfolio-img d-flex align-items-center justify-content-center">
                                {% if cat.thumbnail %}
                                    <img class="img-fluid" src="{{ cat.thumbnail.url }}" alt="">
                                {% endif %}
                            </div>
                            <div class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                                <h4 class="text-white mb-4">{{ cat.cat_name }}</h4>
                                <div class="d-flex align-items-center justify-content-center">
                                    <a class="btn btn-outline-primary m-1" href="">
                                        <i class="fa fa-link"></i>
                                    </a>
                                    <a class="btn btn-outline-primary m-1" href="{{ cat.image.url }}" data-lightbox="portfolio">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>
    </div>
    <!-- Projects End -->


    
    <!-- Blog Start 
    <div class="container-fluid bg-light pt-5">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col text-center mb-4">
                    <h1 class="mb-4">Help & Support</h1>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-md-4 mb-4">
                    <div class="card border-0 mb-2">
                        <img class="card-img-top" src="{% static 'img/blog-1_copy.jpg' %}" alt="">
                        <div class="card-body bg-white p-4">
                            <div class="d-flex align-items-center mb-3">
                                <a class="btn btn-primary" href=""><i class="fa fa-link"></i></a>
                                <h5 class="m-0 ml-3 text-truncate">Diam amet eos at no eos</h5>
                            </div>
                            <p>Diam amet eos at no eos sit, amet rebum ipsum clita stet, diam sea est diam eos, sit vero stet justo</p>
                            <div class="d-flex">
                                <small class="mr-3"><i class="fa fa-user text-primary"></i> Admin</small>
                                <small class="mr-3"><i class="fa fa-folder text-primary"></i> Web Design</small>
                                <small class="mr-3"><i class="fa fa-comments text-primary"></i> 15</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card border-0 mb-2">
                        <img class="card-img-top" src="{% static 'img/blog-2_copy.jpg' %}" alt="">
                        <div class="card-body bg-white p-4">
                            <div class="d-flex align-items-center mb-3">
                                <a class="btn btn-primary" href=""><i class="fa fa-link"></i></a>
                                <h5 class="m-0 ml-3 text-truncate">Diam amet eos at no eos</h5>
                            </div>
                            <p>Diam amet eos at no eos sit, amet rebum ipsum clita stet, diam sea est diam eos, sit vero stet justo</p>
                            <div class="d-flex">
                                <small class="mr-3"><i class="fa fa-user text-primary"></i> Admin</small>
                                <small class="mr-3"><i class="fa fa-folder text-primary"></i> Web Design</small>
                                <small class="mr-3"><i class="fa fa-comments text-primary"></i> 15</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card border-0 mb-2">
                        <img class="card-img-top" src="{% static 'img/blog-3_copy.jpg' %}" alt="">
                        <div class="card-body bg-white p-4">
                            <div class="d-flex align-items-center mb-3">
                                <a class="btn btn-primary" href=""><i class="fa fa-link"></i></a>
                                <h5 class="m-0 ml-3 text-truncate">Diam amet eos at no eos</h5>
                            </div>
                            <p>Diam amet eos at no eos sit, amet rebum ipsum clita stet, diam sea est diam eos, sit vero stet justo</p>
                            <div class="d-flex">
                                <small class="mr-3"><i class="fa fa-user text-primary"></i> Admin</small>
                                <small class="mr-3"><i class="fa fa-folder text-primary"></i> Web Design</small>
                                <small class="mr-3"><i class="fa fa-comments text-primary"></i> 15</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    Blog End -->
    
{% endblock %}

   